fieldset {
    border: none;
}

:root {
    --tabs-bg-color: #fafafa;
    --tabs-td-bg-color: #f4f4f4;
    --tabs-border-color: #ccc;
    --green-for-edit-mode: rgb(211,255,211);
    --green-for-fixed-bit: rgb(101,233,101);
    --varbit-edit-bg-color: var(--green-for-edit-mode);
    --fixbit-edit-bg-color: var(--green-for-fixed-bit);
}

#pageTop {
    margin-bottom: .1em;
    padding: .15em .5em .15em .5em;
    background-color: #eee;
}

#pageFooter {
    margin-top: 2em;
    padding: .15em .5em .15em .5em;
    background-color: #eee;
}



td.editModeBgColorized:has(textarea), td.editModeBgColorized:has(#saveUndoButtons), td.editModeBgColorized:has(#push-record-button) {
    background-color: var(--green-for-edit-mode);
}

#cloudSigInStatus::before {
    content: 'Dis';
}

td.editModeBgColorized #cloudSigInStatus::before {
    content: '';
}

td.portConnected {
    background-color: var(--green-for-edit-mode);
}



td.editModeBgColorized div.mcu-cmd b[data-fov="v"] {
    background-color: var(--varbit-edit-bg-color);
}

td.editModeBgColorized div.mcu-cmd b[data-fov="f"] {
    background-color: var(--fixbit-edit-bg-color);
}


.tab-container {
    width: 97%;
}

.tab-button {
    display: inline-block;
    user-select: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid var(--tabs-border-color);
    border-right: 1px solid var(--tabs-border-color);
    border-left: 1px solid var(--tabs-border-color);
    border-bottom: 1px solid var(--tabs-border-color);
    border-radius: 5px 5px 0 0;
    position: relative;
    top: 1px;
}


input[name="tabRadio"]:not(:checked) + label {
    background: linear-gradient(#fcfcfc 75%, #ebebeb);
}


.tab-content {
    display: flex;
    border: 1px solid var(--tabs-border-color);
    border-radius: 0 0 5px 5px;
    background-color: var(--tabs-bg-color);
    padding: 0.5em;
    width: 95%;
}

.tab-content-item {
    width: fit-content;
    display: none;
}

input[type="radio"][name="tabRadio"] {
    display: none;
}


input#tab1:checked ~ .tab-content #content1,
input#tab2:checked ~ .tab-content #content2,
input#tab3:checked ~ .tab-content #content3,
input#tab4:checked ~ .tab-content #content4,
input#tab5:checked ~ .tab-content #content5,
input#tab6:checked ~ .tab-content #content6 {
    display: block;
    flex: 1;
}

input#tab1:checked ~ .tab-button[for="tab1"],
input#tab2:checked ~ .tab-button[for="tab2"],
input#tab3:checked ~ .tab-button[for="tab3"],
input#tab4:checked ~ .tab-button[for="tab4"],
input#tab5:checked ~ .tab-button[for="tab5"],
input#tab6:checked ~ .tab-button[for="tab6"] {
    background-color: var(--tabs-bg-color);
    font-weight: bold;
    border-bottom: 1px solid var(--tabs-bg-color);
}


#disclaimerDiv table {
    font-size: .89em;
    width: fit-content;
}



#disclaimerDiv table tr td, #disclaimerDiv table tr th, #commandSetTable tr td, #commandSetTable tr th {
    border: 1px solid black;
    margin: 0;
    padding: 0.5em;
}



#disclaimerDiv ul {
    margin-top: 0;
    padding-left:2em;

}
    #disclaimerDiv ul li {
        padding-left: 0;
        margin-left: 0;
    }
    
    #disclaimerDiv ul li span {
        display: inline-block;
        width: 8em;
    }





label:has(input[name="controllerIFcheckbox"]) {
    display: inline-block;
    width: 8em;
}

#controllerIFfieldset input[type="text"] {
    width: 3em;
    border-color: var(--tabs-border-color);
}



/*#cloudSignUpAndSignIn p:has(input[disabled]) {
    color:lightgray;
}*/

#cloudSignUpAndSignIn table {
    border-spacing: 1em 0;
    font-size: .95em;
}

    #cloudSignUpAndSignIn table td {
        vertical-align: top;
        text-align: left;
        background-color: var(--tabs-td-bg-color);
        padding: 0 .5em .5em .5em;
    }

        #cloudSignUpAndSignIn table td b {
            display: block;
            margin-top: .25em;
            text-align: left;
            font-weight: normal;
            font-size: .75em;
        }

#userNameError {
    display: block;
    margin-top: .25em;
    text-align: left;
    font-weight: normal;
    font-size: .75em;
    color: red;
    max-width: 14em;
}
        


        #cloudSignUpAndSignIn table td.loggedInTd input, #cloudSignUpAndSignIn table td.loggedInTd button {
            display: block;
            margin: .5em auto;
            width: 14em;
        }

#cloudSignUpAndSignIn table td.loggedInTd:has(button#editUserNameButId:not(:disabled)) {
    background-color: var(--varbit-edit-bg-color);
}


#cloudSignUpAndSignIn table input, #cloudSignUpAndSignIn table button {
        border-spacing: 1em 0;
        font-size: .8em;
    }


    #cloudSignUpAndSignIn table td p:first-child {
        color: rgb(52, 50, 108);
        font-weight: bold;
        text-align: center;
    }

    #cloudSignUpAndSignIn table td p em {
        font-size: .85em;
    }

    #cloudSignUpAndSignIn input[readonly] {
        border: none;
        background-color: transparent;
    }

#cloudSignUpAndSignIn p input + button {
    width: 8em;
}


#cloudSignUpAndSignIn table tbody tr td.loggedInTd input:disabled + button span::before {
    content: 'Edit user name';
}

#cloudSignUpAndSignIn table tbody tr td.loggedInTd input:disabled + button + button {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}


#cloudSignUpAndSignIn table tbody tr td.loggedInTd input + button span::before {
    content: 'Undo editing';
}



#cloudSignUpAndSignIn input[type="email"], #cloudSignUpAndSignIn input[type="password"], #cloudSignUpAndSignIn table button {
    width: 9em;
    margin: .15em 0 .15em 0;
}




#setOfButtons {
    margin-bottom: 1em;
}

    #setOfButtons td {
        vertical-align: top;
        padding: .5em;
    }

    #setOfButtons:not(td:first-child) {
        font-style: italic;
        text-align: center;
    }




#tableEditEnabled {
    display: none;
}

#tableEditDisabled {
    display: inline;
}


#saveUndoButtons button {
    color: rgb(0, 107, 0);
}

#saveUndoButtons button:disabled {
    color: rgb(127, 172, 127);
}








#commandSetTable {
    border-collapse: collapse;
    width: auto;
}

    #commandSetTable tr th {
        line-height: 2em;
        background-color: rgb(235, 235, 235);
        
    }


    #commandSetTable textarea {
        width: 100%;
        box-sizing: border-box; /* Ensures padding and borders are included in the width */
        overflow: hidden; /* Prevents scrollbar appearance */
        resize: none; /* Prevents manual resizing */
        border: 0;
        background-color: inherit;
    }


    #commandSetTable textarea:disabled {
        background-color: inherit;
    }


    #commandSetTable th:last-child, #commandSetTable td:last-child {
        color: rgb(0, 107, 0);
        display: none;
    }


    #commandSetTable td:last-child {
        font-weight: bold;
        font-size: 85%;
        font-family: monospace;
    }

    #commandSetTable td:last-child button {
        width: 3em;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
    }

    #commandSetTable td:last-child input[type="radio"] {
        position:relative;
        top:0.25em;
    }

#commandSetTable .columnWidthResizable {
    min-width: 10em;
}


.mcu-cmd {
    display: block;
}

    .mcu-cmd:not(:first-child) {
        margin-top: .5em;
    }

    .mcu-cmd b {
        border: 1px solid black;
        display: inline;
        font-family: monospace;
        font-size: 18px;
        font-weight: bold;
        cursor: default;
        padding: 0 .5em 0 .5em;
        margin: 0 .1em 0 .1em;
    }

    .mcu-cmd b[data-fov="f"] { /* fixed bit */
        background-color: rgb(216, 216, 216);
        color: gray;
    }



.mcu-cmd-legend {
    color: gray;
}

    .mcu-cmd-legend > b {
        border: 1px solid black;
        font-family: monospace;
        font-size: 18px;
        padding: 0 .225em 0 .225em;
        margin: 0 .1em 0 .1em;
        cursor: default;
    }

    .mcu-cmd-legend > *::before {
        content: "D";
        color: gray;
    }



.mcu-cmd-hex {
    font-family: monospace;
    font-size: 18px;
}

.cmd-byte-actions {
    text-align: center;
    line-height: 1.5em;
}

    .cmd-byte-actions button {
        font-weight: bold;
        width: 5em;
    }


#commandSequence {
    width: 95%;
    max-width:95%;
}

    #commandSequence::placeholder {
        color: lightgray;
    }



table tr th, table tr td {
    position: relative;
}

div.resizer { /*th .resizer, td */
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    min-width: 2px;
    max-width: 2px;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: col-resize;
    user-select: none;
    display: none;
    background-color: #FAA;
    border-left: 1px solid black;
}



#controllerSelector {
    margin: 1em 0 1em 0;
    width: 100%;
}

#selectedControllerName {
    width: 85%;
    padding: .25em .25em .25em .25em;
    margin: 2px;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--tabs-bg-color);
}




.disabledTable {
    opacity: 25%;
    pointer-events: none;
    user-select: none;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 99%;
    padding: .25em;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid gray;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px; /* Set a max-height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: var(--green-for-edit-mode);
    }

        .autocomplete-items div:hover {
            background-color: var(--fixbit-edit-bg-color);
        }

        .autocomplete-items div img {
            width: 1.25em;
            height: 1em;
            object-fit: contain;
            position: relative;
            top: .22em;
            margin-right: .45em;
        }




