table {
    border-collapse: collapse;
}

table tr td,  table tr th{
    border: 1px solid black;
    margin: 0;
    padding: 0.5em;
}

#commandSetTable tr th {
    line-height: 2em;
    background-color: rgb(235, 235, 235);
}

.mcu-cmd {
    display: block;
}

.mcu-cmd:not(:first-child) {
    margin-top: .5em;
}

.pwn {
    border: 1px solid black ;
    display: inline;
    font-family: monospace;
    font-size:18px;
    font-weight:bold;
    cursor: default;
    padding: 0 .5em 0 .5em;
    margin: 0 .1em 0 .1em;
}

.cmd-fixed-part {
    background-color: rgb(216, 216, 216);
    color:gray;
}

.mcu-cmd-legend {
    color:gray;
}

.mcu-cmd-legend > p {
    border: 1px solid black ;
    display: inline;
    font-family: monospace;
    font-size:18px;
    font-weight:bold;
    padding: 0 .225em 0 .225em;
    margin: 0 .1em 0 .1em;
    cursor: default;
}

.mcu-cmd-legend > *::before {
    content: "D";
    color:gray;
}

.mcu-cmd-hex { font-family: monospace; font-size:18px;}

#portConnectionStatus, #tableEditEnabled, #tableEditDisabled {margin:2em;font-style: italic;}

#commandSetTable th:last-child, #commandSetTable td:last-child {
    color: rgb(0, 107, 0);
    display: none;
}


:root {
    --green-for-edit-mode: rgb(211,255,211);
}

.editModeBgColorized {
    background-color: var(--green-for-edit-mode);
}

#tableEditEnabled {
    background-color: var(--green-for-edit-mode);
    display:none;
}

#tableEditDisabled {
    display:inline;
}

#commandSetTable td:last-child {
    font-weight: bold;
    font-size: 85%;
    font-family: monospace;
}

#commandSetTable td:last-child button {
    width: 3em;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

#commandSetTable td:last-child input[type="radio"] {
    position:relative;
    top:0.25em;
}


#disclaimerDiv ul {
    margin-top:0;
}

#disclaimerDiv ul li span {
    display:inline-block;
    width:8em;
}

.toggledDiv {
    background-color: rgb(240, 243, 255);
    padding: 0 1em 1em 1em;
    float:left;
}

.toggledDiv table {
    margin-left: 3em;
}

.divHidden { display: none; }

:root {
    --before-disclaimer: "- ";
}

.toggledDiv > p:first-child::before {
    font-family: monospace;
    color:red;
    padding-right: .5em;
}

.toggledDivOpened > p:first-child::before { content: ' -'; }
.toggledDivClosed > p:first-child::before { content: ' +'; }


.toggledDiv ul, .toggledDiv p {
    margin: 1em 0 0 0;
}


#authWithEmail {
    padding: 1em;
}
